.drawer-paper {
  width: 200px !important;
  position: relative !important;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
  white-space: nowrap !important;
  background-color: #cbeecd !important;
}
.drawer-paper-close {
  position: relative !important;
  white-space: nowrap !important;
  width: 72px !important;
  overflow-x: hidden !important;
  background-color: #cbeecd !important;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
}
.toolbar-icon {
  min-height: 64px;
  display: flex;
  padding: 0 8px;
  align-items: center;
  justify-content: flex-end;
}
